* {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7;
}

main {
  padding: 3rem 4rem;
  margin-bottom: 3rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bold {
  font-weight: 700;
}

.home-main {
  justify-content: center;
  background: linear-gradient(to bottom, rgb(73, 73, 73), #fff);
  height: 100%;
}

.home-welcome {
  width: 50%;
  background-color: rgba(255, 255, 255, .2);
  padding: 3rem;
  border-radius: 5px;
}

.container-fluid {
  padding: 0;
}

#cat-image {
  width: 40%;
  transform: rotate(2deg);
  box-shadow: 10px 20px 20px rgba(73, 73, 73, 0.5);
  border-radius: 40px;
  border: 30px solid #fff;
  margin-left: 2rem;
}